extends admin-layout

block content
  //- <div class="animated yt-loader"></div>
  .card.leaderboard
    h1.form-title Logs
    table
      tr
        th User
        th Level
        th Answer
        th Time
      each team in logs
        tr
          - var link = '/admin/logs/' + team.username
          td
            a(href=link) #{team.username}
          td= team.level
          td= team.answer
          td= team.time